<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Categories</h1>
    <p>Welcome!</p>
    <p> This is page holds categories</p>
  </body>
</html>
