<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Customers</h1>
    <p>Welcome!</p>
    <p> This is the customers' page</p>
  </body>
</html>
