<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>OLUWAPELOOMIE</h1>
    <p>Welcome to  Oluwapeloomie!</p>
    <p> "Oluwapeloomie" is a coinage of a yoruba name; "Oluwapelumi" which means "God is with me"</p>
    <p>Oluwapeloomie wants her users to have the latest and best information about vacations WITH them in order to share WITH their loved ones.</p>
  </body>
</html>
